* {
  margin: 0;
  padding: 0;	
}
.highlight {
  background-color: thistle;
}

body {
  background: url("https://68.media.tumblr.com/f7433131b8baeb8c8246da2bc24aa2d9/tumblr_ounoqnxQd01qfb1n5o2_1280.jpg");
  background-color: lightcoral;
  background-repeat: no-repeat;
  background-size: cover;
  /*color:#fff;*/
  padding-top:40px;
  font-family: 'Lato', sans-serif;
}

#prompt-container {
  font-family: Courier New, Courier, monospace;
  font-size: 24px;
  letter-spacing: 3px;
}

#purple-block {
  position: absolute;
  margin-top: 10px;
  width: 15px;
  height: 15px;
  background-color: thistle;
}

.keyboard-container {
  margin-top: 200px;
}


#target-letter {
  font-size: 38px;  
}

.keys-row {
  margin-top: 40px;
  padding: 10px 0;
}

#feedback {
  font-size: 20px;
}
.glyphicon-ok {
  color: #1DA237
}

.glyphicon-remove {
  color : #CD2626
}
#defaultcolor {
  color: thistle;
}
/*.well {
  background-color: turquoise;
}*/